* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.header {
  background-image: url(./images/header/heading_background.jpeg);
  background-repeat: no-repeat;
  background-size: 100vw;
  background-size: cover;
  min-height: 100vh;
}

.hidden {
  display: none;
}

.logo {
  display: none;
}

.nav-item {
  margin-left: 50px;
  font-size: 1.2em;
}

.heading-content {
  max-width: 90%;
  margin-left: 30px;
  padding-top: 100px;
}

.heading-1 {
  max-width: 90%;
  min-width: 90%;
}

.heading-2 {
  font-weight: 900;
  width: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: url(./images/header/text_background.webp);
  /* background-size: cover; */
  background-position: initial;
  color: transparent;
}

h2 p {
  font-weight: 400;
  font-size: 1.1em;
  color: #ec5242;
}

h1 p {
  font-size: 1.8em;
  font-weight: 900;
  line-height: 1em;
}

.heading-box {
  margin-top: 20px;
  background-color: #e4e1e1e1;
  border: 5px solid white;
  font-size: 1em;
  line-height: 1.7em;
  padding: 10px 20px 0 20px;
}

.heading-date {
  font-size: 1.5em;
  font-weight: 900;
  margin-top: 70px;
  color: #ec5242;
}

.heading-date p {
  margin-bottom: 0;
}

.heading-location {
  color: #ec5242;
  margin-top: 10px;
}

.main-program {
  background-image: url(./images/main/background_texture.png);
  background-repeat: repeat-y;
  background-size: 100vw;
}

.main-program-title {
  color: #d3d3d3;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.title-underline {
  width: 50px;
  height: 1px;
  border: 1px solid #ec5242;
  margin: auto;
}

.main-container {
  width: 90%;
}

.program-icon img {
  margin: auto;
}

.program-category p {
  color: #ec5242;
  margin-bottom: 0;
  font-size: 1.6em;
  font-weight: 700;
}

.program-category-description p {
  color: #d3d3d3;
  margin-bottom: 0;
  padding-left: 10px;
  font-size: 1.2em;
  margin: 20px 0;
}

.program-row {
  background-color: #272a31;
  opacity: 0.8;
}

.main-button-container {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-button {
  background-color: #ec5242;
  width: 70%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-button a {
  text-decoration: none;
  color: #d3d3d3;
  font-size: 1.4em;
}

.main-button-container-desktop {
  display: none;
}

.featured-title {
  text-align: center;
  margin: 50px 0;
  font-weight: 900;
}

.featured-title h2 {
  font-weight: 700;
  font-size: 2em;
}

.separator {
  width: 30px;
  height: 1px;
  border: 1px solid grey;
  margin-bottom: 15px;
}

.band-image {
  padding-top: 10px;
}

.band-origin {
  color: #ec5242;
}

.no-show-mobile {
  display: none;
}

.main-button-mobile {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.main-more-button {
  width: 100%;
  height: 60px;
  background-color: #fff;
  border: 1px solid rgb(155, 152, 152);
  border-radius: 5px;
}

.main-more-button i {
  margin-left: 15px;
  color: #ec5242;
  font-size: 1.3em;
}

footer {
  height: 100px;
}

.cc-logo-container p,
.cc-logo-container img {
  margin-top: 25px;
}

.positive {
  margin: auto;
}

@media (min-width: 768px) {
  .logo {
    display: inline;
  }

  .menu-item a {
    color: #ec5242;
  }
  
  .last-nav-item a {
    color: #ec5242;
    border: 5px solid #ec5242;
  }
  
  .heading {
    display: flex;
    justify-content: center;
  }

  .heading-content {
    display: flex;
    flex-direction: column;
  }

  .heading-1, .heading-2, .heading-box {
    max-width: 70%;
  }

  .heading-box {
    max-width: 60%;
  }

  .main-container {
    display: flex;
  }

  .program-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .program-icon img {
    padding-top: 10px;
    margin-left: -10px;
    padding-bottom: 10px;
  }
  
  .program-category p {
    text-align: center;
    margin-left: -50px;
    width: 160px;
    color: #ec5242;
    margin-bottom: 0;
    font-size: 1.6em;
    font-weight: 700;
  }

  .program-category-description  {
    color: #d3d3d3;
    width: 200px;
    margin: auto;
    margin-bottom: 0;
    font-size: 1em;
  }

  .program-category-description p {
    color: #d3d3d3;
    margin-left: -13px;
    margin-right: -10px;
    text-align: center; 
    font-size: 1em;
  }

  .main-button-container {
    display: none;
  }

  .main-button-container-desktop {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d3d3d3;
  }

  .main-button-desktop a {
    color: #d3d3d3;
  }

  .no-show-mobile {
    display: inline;
  }

  .main-more-button {
    display: none;
  }
}

.partners-container {
  background-color: #272a31;
}

.partner-title h2 {
  padding-top: 30px;
  text-align: center;
  color: #d3d3d3;
}

.partner-logo-container {
  margin-top: 20px;
  height: auto;
  display: flex;
  justify-content: center;
}

.partners {
  height: auto;
  width: 75%;
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
}

.partners img {
  margin: 0 15.5px;
}

.negative {
  display: none;
}

@media (min-width: 992px) {
  .main-menu {
    margin-left: 15%;
  }

  .menu-item a {
    margin-left: 20px;
  }
} 
